body {
    padding: 0px;
    margin: 0px;
  }
  .container {
    height: 100%;
    width: 100%;
    background-color: rgb(243, 232, 218);
    border: 2px solid blue;
  }
  .top header {
    height: 77px;
    width: 100%;
    background: rgba(0, 0, 0, 0.829);
    /* border: 2px solid red; */
    display: flex;
    color: white;
  }
  h2 {
    margin: 20px 20px;
    color: rgb(199, 38, 38);
  }
  h3 {
    margin: 20px 200px;
    font-size: 23px;
  }
  button {
    width: 95px;
    height: 39px;
    font-size: 22px;
    border: 2px solid black;
    border-radius: 26px;
    margin: 20px 0px 0px 590px;
  }
  .top2 header {
    width: 100%;
    height: 165px;
    /* border: 2px solid rebeccapurple; */
    background: whitesmoke;
    display: flex;
  }
  .logo img {
    width: 100px;
    height: 100px;
    margin: 15px 250px 0px 15px;
  }
  .search img {
    height: 50px;
    width: 56px;
    margin: -20px;
  }
  .search input {
    height: 42px;
    width: 320px;
    margin: 75px 16px 0px 165px;
  }
  .top2 {
    justify-content: center;
    align-items: center;
  }
  .description h3 {
    margin: 0px -354px;
    color: rgb(105, 53, 53);
  }
  .heart img {
    width: 50px;
    height: 50px;
    margin: 70px 0px 0px 642px;
  }
  .cnc img {
    width: 50px;
    height: 50px;
    margin: 67px 0px 0px 30px;
    opacity: 0.6;
  }
  .shp img {
    width: 48px;
    height: 50px;
    margin: 67px;
    margin: 70px 0px 0px 30px;
  }
  .top3 header {
    justify-content: center;
    text-align: center;
    /* margin: auto; */
    background: whitesmoke;
  }
  .top3 nav {
    width: 100%;
    height: 55px;
    border: 2px solid black;
    display: flex;
    background: #9a4040;
    /* border-radius: 40px; */
    padding: 2px 290px;
    align-items: center;
    /* margin: auto; */
  }
  nav a {
    text-decoration: none;
    padding: 50px;
    font-size: 30px;
    color: black;
    /* font-weight: bold; */
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  nav a :hover,
  nav a:active {
    background: white;
    color: blue;
    text-decoration: underline;
  }